<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Your coordinates are: {{p.0}} {{p.1}}</h2>
    <h3>Show</h3>
    <ul>
        <li><a href="operation/distance/{{p.0}}${{p.1}}">Distance</a></li>
        <li><a href="operation/dotproduct/{{p.0}}${{p.1}}">Dot Product</a></li>
        <li><a href="operation/crossproduct/{{p.0}}${{p.1}}">Cross Product</a></li>
    </ul>
</body>

</html>